.contactUs-container{
    background-color: #408E91;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contactUs-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px;
}

#contactUs-logo{
    width: 150px;
    height: 150px;
    cursor: pointer;
    z-index: 1;
}
#contactUs-logo:hover{
    width: 150px;
    height: 150px;

    opacity: 30%;
    border-radius: 100%;

    cursor: pointer;
    transition: ease 0.6s;
}


#contactUs-info-description{
    width: 450px;
    margin: 45px 0px;
    font-size: 22px;
    text-align: justify;
}

.scrollToTop{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ArrowUp{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 0;
}