.BookCard-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 25px;
    width: 200px;
    padding: 15px;

    background-color: #576a6d;
    border-radius: 25px;
}

.bookImage{
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

#Author{
    padding: 4px;
    font-size: 12px;
}

