.horizontal-menu-container{
    display: flex;
    gap: 15px;

    height:50px;
    margin: 10px 0px;
    right: 35px;
    top: 60px;

}

.horizontal-menu-container button{
    margin: 0px;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    outline: none;
    border: none;
    cursor: pointer;

    color: white;
}

.button-menu {
    background-color: #0f2a2e;
}

.button-menu:hover {
    background-color: #06181a;
}