.horizontal-menu-container{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    margin-left: 28rem;
}

.horizontal-menu-container button{
    margin: 0px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    cursor: pointer;

    font-weight: bolder;
}

.button-menu {
    background-color: white;
}

.button-menu:hover {
    background-color: #eeeeee;
}