#mailInput, #fullNameInput{
    width: 340px;
    padding: 15px 20px;
    margin: 10px 0px;
    
    border-radius: 10px;
    border: none;
    outline: none;
}
#message{

    max-width: 340px;
    max-height: 150px;
    min-height: 150px;
    resize: none;

    padding: 15px 20px;
    margin: 10px 0px;


    border-radius: 10px;
    border: none;
    outline: none;
}

#message:focus{
    border: 3px solid lightblue;
}

#mailInput:focus, #fullNameInput:focus{
    border: 3px solid lightblue;
}

#submitButton{
    border-radius: 5px;
    margin: 25px 0px;
    width: 300px;
    height: 40px;
    background-color: #aca881;
    outline: none;
    border: none;
}

#submitButton:hover{
    background-color: #8b8866;
    cursor: pointer;
}   

.ContactUsForm-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    margin: 100px 0px;
}