#mailInput, #fullNameInput{
    width: 340px;
    padding: 15px 20px;
    margin: 10px 0px;
    
    border: none;
    outline: none;
}
#message{

    max-width: 340px;
    max-height: 150px;
    min-height: 150px;
    resize: none;

    padding: 15px 20px;
    margin: 10px 0px;

    border: none;
    outline: none;
}

#message:focus{
    border: 3px solid lightblue;
}

#mailInput:focus, #fullNameInput:focus{
    border: 3px solid lightblue;
}

#submitButton{
    width: 300px;
}

.ContactUsForm-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    margin: 100px 0px;
}