html, body {
    height: 80vh;
    margin: 0;
    padding: 0;
  }
  
.AllBooksContainer{
    height: 100%;
    width: 100%;
    display: flex;
}

.backToProfileButton{
    background-color: #5d6d57;
    padding: 5px 10px;
    margin: 15px;

    width: 7rem;
    border-radius: 8px;
}

.BookCardsContainer{
    display: flex;
    flex-wrap: wrap;
}

.bookCardAvailables{
    margin: 10rem;

}