html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
.AllBooksContainer{
    height: 100%;
    width: 100%;
    background-color: rgb(117, 96, 69);
}

.backToProfileButton{
    background-color: #81907c;
    padding: 5px 10px;
    margin: 15px;

    width: 10rem;
    border-radius: 8px;
}