*{
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

.logInFormContainer{
    background-color: #408E91;
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;
}
.formBackground{
    background-color: #C3C3E6 ;
    border-radius: 8px;
    width: 450px;
    height: 550px;

}
.logInForm{
    background-color: #C3C3E6 ;
    display: flex;
    flex-direction: column;
}

.logInForm input{
    border: 3px solid white;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top:5px;
    border-color: none;
    outline: none;
    margin: 25px 30px 0px 30px;
}

.logInForm input:focus{
    border: none;
    border-bottom: 3px solid #E25822 ;
    box-shadow: none;
    padding: 8px 10px;
}

.line{
    width: auto;
    height: 3px;
    background-color: #D9DBBC ;
    margin: 0px 25px 0px 25px;
    border-radius: 100px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    transition: 0.2s ease-in-out;
    text-shadow: 0 0 3px #408E91   , 0 0 5px #408E91;
    
}



.forgotpasstext{
    margin: 15px 0px 15px 30px;
    color: black;
}

.forgotpasstext:hover{
    transition: 0.2s ease-in-out;
    text-shadow: 0 0 3px #408E91   , 0 0 5px #408E91;
    
}

.logintext{
    font-size: 36px;
    font-weight: bold;
    color: black;
    align-self: start;
    margin: 15px 0px 0px 30px;
}

button{
    padding: 15px 30px;
    font-weight: 600;
    background-color: #E25822 ;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 15px 60px 15px 60px;
}

button:hover{
    background-color: #c44b1c ;
}

.notAMemberText{
    margin: 15px 0px 0px 30px;
}

#logo{    
    position: fixed;
    width: 300;
    height: 300px;
    margin: 25px;
    top: 0;
    left: 0;
    border-radius: 100px ;
}