.Profile-Container{
    display: flex;
    flex-direction: column;

    color: white;
    font-size: 18px;

    background-color: #0F2A2E;
    width: 20rem;
    height: 100vh;

}

.profilePicture{
    margin: 25px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: center;

    width: 150px;
    height: 150px;
    background-color: #F0ECE1;
    border-radius: 100%;
}

#profile-picture-placeholder{
    font-size: 24px;
    font-weight: 700;
}

#below-profilePic{
    align-self: center;
    font-size: 22px;
}

.buttonTitle{
    font-size: 20px;
}

.profileButtonsContainer{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    
}

.profile-button:nth-child(even){
    background-color: #3f5558;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;
}

.profile-button:nth-child(even):hover{
    background-color: #0e2629;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    cursor: pointer;
}


.profile-button:nth-child(odd){
    background-color: #576a6d;
    padding: 15px 0px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.profile-button:nth-child(odd):hover{
    background-color: #0e2629;
    padding: 15px 0px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#logOutButton{
    background-color: #273f43;
    outline: none;
    border: none;
    color: white;
    align-self: center;

    width: 200px;
    height: 50px;
    margin-bottom: 25px;


    cursor: pointer;
}

#logOutButton:hover{
    background-color: #0e2629;
}

.logOutContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 450px;    
}