.reviewComponentContainer{
    display: flex;
    margin: 0.7rem;
    padding: 1rem;
    background-color: rgb(41, 100, 29);
    border-radius: 7px;
}

.review-data-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatarInitials{
    background-color: rgb(214, 214, 214);
    
    color: black;
    font-size: 32px;
    font-weight: bold;

    border-radius: 100%;
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarName{
    color: white;
}

.rating{
    color: white;

}

.description{
    color: white;

}